@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    background-image: url('../assets/svgs/circle-scatter-haikei-albums-landscape.svg');
    background-attachment: scroll;
    background-size: cover;
    
}

.heading {
    font-family: Epilogue;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

.information {
    font-family: Rubik;
    font-size: 18px;
    text-align: center;
}

.grid-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: space-between;
}

.spotify-card {
    width: calc(25% - 20px);
    max-width: calc(25% - 20px);
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    background-color: #282828d7;
    opacity: 0;
    filter: blur(5px); 
    transform: translateX(-200px); 
    transition: all 1s; 
}

.spotify-card.fade-in {
    opacity: 1; 
    filter: blur(0);
    transform: translateX(0);
}

.spotify-card:nth-child(4n + 1) {
    transform: translateX(-120px);
    transition-delay: 0s; 
}

.spotify-card.fade-in:nth-child(4n + 1) {
    transform: translateX(0);
    transition-delay: 0s; 
}

.spotify-card iframe {
    width: 100%;
    height: 352px;
    border: 0;
}

.spotify-card:nth-child(4n + 1),
.spotify-card:nth-child(4n + 2),
.spotify-card:nth-child(4n + 3),
.spotify-card:nth-child(4n + 4) {
    transition-delay: 200ms;
}

.spotify-card:nth-child(4n + 2),
.spotify-card:nth-child(4n + 6) {
    transition-delay: 400ms;
}

.spotify-card:nth-child(4n + 3),
.spotify-card:nth-child(4n + 7) {
    transition-delay: 600ms;
}

.spotify-card:nth-child(4n + 4),
.spotify-card:nth-child(4n + 8) {
    transition-delay: 800ms;
}

@media only screen and (max-width: 992px) {

    .body {
        background-image: url("../assets/svgs/circle-scatter-haikei-albums-portrait.svg");
    }

    .spotify-card {
        transform: translateX(-100px);
        transition-delay: 0s;
        width: calc(50% - 20px);
        max-width: calc(50% - 20px);
    }

}

@media only screen and (max-width: 768px) {

    .spotify-card {
        transform: translateX(-100px);
        transition-delay: 0s;
        width: calc(100% - 20px);
        max-width: calc(100% - 20px);
    }

}